extends ../templates/template
block title-description
  title Ferreteria Company - Inicio
  meta(name="description" content="Descripccion")
block banner
  .banner
    .banner__slider
      picture.banner__img
        img(src=`${img}banner.jpg`, alt="banner de ferreteria company")
      picture.banner__img
        img(src=`${img}banner.jpg`, alt="banner de ferreteria company")
      picture.banner__img
        img(src=`${img}banner.jpg`, alt="banner de ferreteria company")
  .data
    .data__container.container
      .data__item
        img.data__icon(src=`${img}/icons/data1.png`, alt="icono ferreteria company")
        p.data__text EMPRESA 100% PERUANA
      .data__item
        img.data__icon(src=`${img}/icons/data2.png`, alt="icono ferreteria company")
        p.data__text CON ENVIÓS EXPRESS A TODO EL PERÚ
      .data__item
        img.data__icon(src=`${img}/icons/data3.png`, alt="icono ferreteria company")
        p.data__text PRODUCTOS CON GARANTIA Y CALIDAD
      .data__item
        img.data__icon(src=`${img}/icons/data4.png`, alt="icono ferreteria company")
        p.data__text MÚLTIPLES FORMAS Y MEDIOS DE PAGO
  

  




















