include ../config/config 
include ../includes/mixins 
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //COLOR-ANDROID
    <meta name="theme-color" content="#EBEBEB">
    //FAVICON
    link(rel="shortcut icon", href=`${favicon}`)
    //OPEN GRAPH
    meta(property="og:title" content=`${tituloRedes}`)
    meta(property="og:type" content="website")
    meta(property="og:url" content=`${urlWeb}`)
    meta(property="og:image" content=`${imgWeb}`)
    meta(property="og:description" content=`${descripccionRedes}`)
    //SCHEMA MARKUP FOR GOOGLE
    meta(itemprop="name" content=`${tituloRedes}`)
    meta(itemprop="description" content=`${descripccionRedes}`)
    meta(itemprop="image" content=`${imgWeb}`)
    //TWITTER CARD DATA
    meta(name="twitter:card" content=`${twitterCard}`)
    meta(name="twitter:site" content=`${urlWeb}`)
    meta(name="twitter:title" content=`${tituloRedes}`)
    meta(name="twitter:description" content=`${descripccionRedes}`)
    meta(name="twitter:image:src" content=`${imgWeb}`)
    //FONTAWESOME
    link(rel="stylesheet", href="assets/fontawesome/css/all.min.css")
    script(src="assets/fontawesome/js/all.min.js")
    //SLICK
    link(rel="stylesheet", href="assets/slick/slick/slick.css")
    link(rel="stylesheet", href="assets/slick/slick/slick-theme.css")
    //LIGHTBOX
    link(rel="stylesheet", href="assets/lightbox/dist/css/lightbox.min.css")
    //MODAL VIDEO
    link(rel="stylesheet", href="assets/modal-video/css/modal-video.min.css")
    //STYLE BASE
    link(rel="stylesheet", href="css/styles.css")
    block title-description
  body
    header.header
      h1.hide Ferreteria Company
      .header__top
        .header__container--top.container  
          .header__whatsapp
            <i class="fab fa-whatsapp"></i>
            a(href="tel:+51945115558") 945 115 558
          form(action="index.php").header__search.search
            input(type="text" placeholder="Buscar").search__input
            button.search__button <i class="fas fa-search"></i>
          .header__networks.social-networks
            a(href="https://es-la.facebook.com/" target="_blank").social-networks__item <i class="fab fa-facebook-f"></i>
            a(href="https://www.instagram.com/?hl=es-la" target="_blank").social-networks__item <i class="fab fa-instagram"></i>
            a(href="https://www.youtube.com/?hl=es-419&gl=PE" target="_blank").social-networks__item <i class="fab fa-youtube"></i>
      .header__main
        .header__container--main.container
          picture.header__logo
            a(href="#")
              img(src=`${img}logo-ferreteria-company.png`, alt="Logo ferreteria company")
          nav#nav.header__nav
            ul.main-menu
              li.main-menu__item: a(href="#").main-menu__link INICIO
              li.main-menu__item: a(href="#").main-menu__link TUBERIAS
              li.main-menu__item: a(href="#").main-menu__link CONEXIONES
              li.main-menu__item: a(href="#").main-menu__link ABRASIVOS
              li.main-menu__item: a(href="#").main-menu__link GRIFERÍAS
              li.main-menu__item: a(href="#").main-menu__link CONTACTO
          #btn-nav.header__burguer
            <i class="fas fa-bars"></i>
    block banner
    block main
    footer.footer
      .footer__container.container
        .footer__networks.center
          .social-networks
            a(href="https://es-la.facebook.com/" target="_blank").social-networks__item <i class="fab fa-facebook-f"></i>
            a(href="https://www.instagram.com/?hl=es-la" target="_blank").social-networks__item <i class="fab fa-instagram"></i>
            a(href="https://www.youtube.com/?hl=es-419&gl=PE" target="_blank").social-networks__item <i class="fab fa-youtube"></i>
        .footer__nav.center
          ul.main-menu--footer
            li.main-menu__item--footer: a(href="#").main-menu__link INICIO
            li.main-menu__item--footer: a(href="#").main-menu__link TUBERIAS
            li.main-menu__item--footer: a(href="#").main-menu__link CONEXIONES
            li.main-menu__item--footer: a(href="#").main-menu__link ABRASIVOS
            li.main-menu__item--footer: a(href="#").main-menu__link GRIFERÍAS
            li.main-menu__item--footer: a(href="#").main-menu__link CONTACTO
        .footer__information
          p.footer__item <i class="fas fa-map-marker-alt"></i> Oficina: Av. Del Contador, Trujillo 13007
          p.footer__item <i class="fas fa-envelope"></i> E-mail: gerencia@company.pe
          p.footer__item <i class="fab fa-whatsapp"></i> Número empresarial: 945 115 558
      .credits
        p.credits__text DESARROLLADO POR:
        picture.credits__logo
          a(href="https://evolucionmedia.pe/" target="_blank")
            img(src=`${img}logo-evolucionmedia.png`, alt="Logo de evolucionmedia")
    //JQUERY
    script(src="js/jquery.js")
    //SLICK
    script(src="assets/slick/slick/slick.min.js")
    //VIDEO MODAL
    script(src="assets/modal-video/js/jquery-modal-video.min.js")
    //LIGHTBOX
    script(src="assets/lightbox/dist/js/lightbox.min.js")
    //MY SCRIPTS
    script(src="js/scripts-min.js")


